* {
    box-sizing: border-box;
    
}

header {
    font-size: 2vmin;
    text-align: center;
    margin-top: 3em;
    margin-bottom: .5em;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}

header:hover {
    transition: all 0.8s;
  transform: rotateY(180deg);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.columns {
    min-width: 450px;
    display: flex;
}

#titlelink, #titlelink:link, #titlelink:visited {
    color: black;
    text-decoration: none; 
}

#titlelink:hover {
    color: rgb(223, 199, 98);
    text-decoration: none; 
}

#gameboard {
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

#gameboard td[contenteditable="true"] {
    border: .5px solid black;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 16px;
    min-width: 30px;
    min-height: 30px;
    cursor: pointer;
    position: relative;
    background-color: rgb(241, 238, 228);
}

td[contenteditable="true"]::before {
    content: attr(placeholder); 
    color: black;
    font-size: 7px;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(0, 0);
    padding: 1.5px;
}

#gameboard td[contenteditable="true"]:hover {
    background-color: rgb(242, 146, 67);
}

#gameboard td[contenteditable="true"]:focus {
    outline: none;
    border: 1.5px solid black;
}

#acrosswords,#downwords {
    flex: 1;
    margin-top: 8em;
    font-family: 'Cutive Mono', monospace;
    word-spacing: -1px;
    letter-spacing: .5px;
    line-height: 22px;
    font-size: 14px;
}

#downwords {
    padding-right: 25px;
    margin-left: 35px;
}

#acrosswords {
    padding-left: 25px;
    margin-right: 35px;
}

#clearButton {
    margin-top: 10px;
    margin-bottom: 32px;
    margin-right: 5px;
    padding: 2.5px;
    border-radius: 4px;
    font-family: 'Cutive Mono', monospace;
    font-weight: 1000;
    text-transform: uppercase;
    transition-duration: .3s;
    background-color: rgb(220, 216, 205);
    width: 110px;
}

#clearButton:hover {
    background-color: rgb(223, 199, 98);
    cursor: pointer;
} 

#clearButton:active {
    background-color:  rgb(223, 199, 98);
    box-shadow: 0 2px #666;
    transform: translateY(1.5px);
  }
    
  #fillButton {
    margin-top: 10px;
    margin-bottom: 32px;
    margin-left: 5px;
    padding: 2.5px;
    border-radius: 4px;
    font-family: 'Cutive Mono', monospace;
    font-weight: 1000;
    text-transform: uppercase;
    transition-duration: .3s;
    background-color: rgb(220, 216, 205);
    width: 110px;
}

#fillButton:hover {
    background-color: rgb(223, 199, 98);
    cursor: pointer;
} 

#fillButton:active {
    background-color:  rgb(223, 199, 98);
    box-shadow: 0 2px #666;
    transform: translateY(1.5px);
}
