header {
    font-size: 2vmin;
    text-align: center;
    margin-top: 3em;
    margin-bottom: .5em;
    font-family: 'Cutive Mono', monospace;
    letter-spacing: -.5px;
    text-transform: uppercase;
    align-items: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.columns {
    min-width: 450px;
    display: flex;
}

#gameboard {
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

#gameboard td[contenteditable="true"] {
    border: .5px solid black;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 16px;
    min-width: 30px;
    min-height: 30px;
    cursor: pointer;
    position: relative;
}

#gameboard td[contenteditable="true"]:hover {
    background-color: #f0f0f0;
}

#gameboard td[contenteditable="true"]:focus {
    outline: none;
    border: 1.5px solid black;
}

#acrosswords,
#downwords {
    flex: 1;
    margin-top: 9em;
    font-family: 'Cutive Mono', monospace;
    word-spacing: -1px;
    letter-spacing: .5px;
    line-height: 22px;
    font-size: 14px;
}

#downwords {
    padding-right: 25px;
    margin-left: 35px;
}

#acrosswords {
    padding-left: 25px;
    margin-right: 35px;
}

#clearButton {
    margin-top: 6px;
    margin-bottom: 38px;
    padding: 3px;
    font-family: 'Cutive Mono', monospace;
    font-weight: 1000;
    transition-duration: .3s;
    background-color: rgb(215, 215, 215);
}

#clearButton:hover {
    background-color: rgb(194, 73, 73);
    cursor: pointer;
} 


td[contenteditable="true"]::before {
    content: attr(placeholder); 
    color: black;
    font-size: 7px;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(0, 0);
    padding: 1.5px;
}






